/* ------------------------------------------------ */

/* Pie Chart Color Switcher for the NZQA Website */
/* it works for me */

/* Excellence */
.pie-chart__allocation--bright-green {
  border-left: 0.5rem solid #ffd800 !important;
}

svg path:nth-of-type(3) {
  stroke: #ffd800 !important;
}

/* ------------------------ */

/* Merit */
.pie-chart__allocation--bright-blue {
  border-left: 0.5rem solid #1d90ff !important;
}

svg path:nth-of-type(2) {
  stroke: #1d90ff !important;
}

/* ------------------------ */

/* Achieved */
.pie-chart__allocation--bright-yellow {
  border-left: 0.5rem solid #008800 !important;
}

svg path:nth-of-type(1) {
  stroke: #008800 !important;
}

/* ------------------------------------------------ */
